@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    border: none;
}
.container {
    display: flex; /* Usado para colocar o conteudo da div pai alinhadas ao lado*/
    justify-content: center; /* Centralizar esse conteudo alinhado, mas em baixo */
    align-items: center; /* Centralizer totalmente*/
    height: 100vh; /*Responsavel por dar uma altura 100%, fazendo com que o conteudo fique alinhado corretamente*/
    background-color: rgba(190, 188, 184, 0.527);
}
.conteudo {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 960px;
    height: 60%;
    justify-content: space-between; /*Usada para dar um espaço entre os conteudos dentro da div*/
    align-items: center;
    position: relative;
}
.conteudo::before {
    content: "";
    position: absolute;
    background-color: rgba(80, 20, 220, 0.719);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;



    left: 0%;
}
.primeiro-conteudo {
    display: flex;
    
}
.titulo {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize; /*Usado para deixar as primeiras letras da palavras em maiusculas*/

}
.titulo-primario {
    color: #fff;
}
.titulo-segundo {
    color:rgba(80, 20, 220, 0.719);
}
.description {
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
}
.primary-description {
    color: #fff;
    font-weight: 500;

}
.segundo-description {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    padding: 2px 50px;
    cursor: pointer;
    font-weight: bolder;
    width: 150px;
    height: 35px;
    align-self: center;
    border: none;
    margin-top: 1rem 0;
    
}
.btn-primario {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
    outline: none; /*remover borda dos inputs*/
}
.btn-primario:hover {  /* USADO PARA TRANSFORMAR O BOTÃO QUANDO PASSAR O MOUSE EM CIMA*/
    background-color: #fff;
    color: rgba(80, 20, 220, 0.719);
}
.btn-segundo {
    color:rgb(255, 255, 255); 
    background-color: rgba(80, 20, 220, 0.719);
    margin-top: 15px;
    font-size: 12px;
    height: 30px;
    transition: background-color .5s; /*Adicionando um tempo na transição da cor do botão*/
    outline: none; /*remover borda dos inputs*/
}
.btn-segundo:hover {
    background-color: #fff;
    color: rgba(80, 20, 220, 0.719);
    border: 1px solid rgba(80, 20, 220, 0.719);
}
.primeiro-conteudo .segunda-coluna {
    z-index: 11;
}
.primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.segunda-coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.social-media {
    margin: 0.5rem 0;
}
.link-social-media:not(:first-child) { /*Atribuir margin aos icones, mas negando a margin no primeiro icone para não desalinhar todos*/
    margin-left: 10px;
}
.link-social-media:hover {
    background-color: rgba(80, 20, 220, 0.719);
    color: white;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}
.link-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px; /* Centralizar o icone dentro da borda redonda */
    text-align: center;
    color: #95a5a6;
    transition: background-color .5s;
}

.form {
    display: flex; /* Usado para deixar os inputs flex */
    flex-direction: column; /* Usada para alinhar os inputs em forma de coluna */
    width: 55%;
    
}
.form input {
    height: 45px; 
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 7px;
    border-radius: 5px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}
/* CONTEUDO SEGUNDA PARTE */

.segundo-conteudo {
    position: absolute;
    display: flex;
}
.segundo-conteudo .primeira-coluna {
    order: 2;
    z-index: -1;

}
.segundo-conteudo .segunda-coluna {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter { /*PSEUDO CLASS só para a primeira letra maiuscula especificamente*/
    text-transform: capitalize;
}
.entrar-js .primeiro-conteudo .primeira-coluna,
.entrar-js .primeiro-conteudo .segunda-coluna {
    z-index: -1;
}
.entrar-js .segundo-conteudo .primeira-coluna,
.entrar-js .segundo-conteudo .segunda-coluna {
    z-index: 11;
}
.entrar-js .conteudo::before {
    left: 60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.registrar-js .segundo-conteudo .primeira-coluna,
.registrar-js .segundo-conteudo .segunda-coluna {
    z-index: -1;
}
.registrar-js .primeiro-conteudo .primeira-coluna,
.registrar-js .primeiro-conteudo .segunda-coluna {
    z-index: 11;
}
input:focus{
    outline: none;
}